.card-container {
  --syntax-background-color: #fefefe;
  --syntax-font-color: #545454;
  --background-color: #f1f5f9;
  background-color: var(--syntax-background-color);
}

.frame {
  background-color: var(--syntax-background-color);
  color: var(--syntax-font-color);
}

.actions {
  background-color: var(--background-color);
  color: var(--syntax-font-color);
}